/* Angular animation */

/* Scale fade  ---
https://github.com/Augus/ngAnimate/blob/master/css/ng-animation.css */

.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
/* line 547, ../sass/ng-animation.scss */
.scale-fade.ng-enter {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
/* line 553, ../sass/ng-animation.scss */
.scale-fade.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
/* line 558, ../sass/ng-animation.scss */
.scale-fade.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 564, ../sass/ng-animation.scss */
.scale-fade.ng-leave-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}
/* line 570, ../sass/ng-animation.scss */
.scale-fade.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 575, ../sass/ng-animation.scss */
.scale-fade.ng-hide-add.ng-hide-add-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}
/* line 581, ../sass/ng-animation.scss */
.scale-fade.ng-hide-remove {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
/* line 587, ../sass/ng-animation.scss */
.scale-fade.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/***************************************************
  Transitions styles
***************************************************/


.slide.transition{
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;

  -webkit-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
     -moz-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
      -ms-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
       -o-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
          transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}


.slide.past{
    opacity: 0;

    -webkit-transform: translate3d(-25%, 0, 0) rotateY(-65deg) translate3d(-25%, 0, 0);
       -moz-transform: translate3d(-25%, 0, 0) rotateY(-65deg) translate3d(-25%, 0, 0);
        -ms-transform: translate3d(-25%, 0, 0) rotateY(-65deg) translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0) rotateY(-65deg) translate3d(-25%, 0, 0);
}


.slide.present {
  z-index: 11;
  opacity: 1;
}


.slide.future{
    opacity: 0;

    -webkit-transform: translate3d(25%, 0, 0) rotateY(65deg) translate3d(25%, 0, 0);
       -moz-transform: translate3d(25%, 0, 0) rotateY(65deg) translate3d(25%, 0, 0);
        -ms-transform: translate3d(25%, 0, 0) rotateY(65deg) translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0) rotateY(65deg) translate3d(25%, 0, 0);
}
