<div class="profile-box">

  <div class="avatar">
    <img ng-src="{{student.avatar_url}}" />
  </div>

  <h1>{{ student.firstname }} {{ student.lastname }}</h1>

  <hr>

  <div class="stats">
    <strong>City</strong>: {{ student.city }} <br>
    <strong>Github</strong>: <a ng-href="{{ student.url }}" target="_blank">{{ student.url }}</a> <br>
    <strong>Followers</strong>: {{ student.followers }} <br>
    <strong>Following</strong>: {{ student.following }} <br>
  </div>

  <hr>

  <h3>Recent commits:</h3>

  <div ng-repeat="event in student.events | orderEventBy:'date':true | limitTo:5">
    <div>
      <p class="message">{{ event.message }}</p>
      <p class="message-details">Pushed on {{ event.date | date: 'yyyy-mm-dd' }} to {{ event.repo }}</p>
    </div>
  </div>

</div>


<div class="popular-repos">
  <div ng-repeat="repo in student.repos | orderEventBy:'stargazers_count':true | limitTo:3">
    <div class="repo-box">
      <strong>{{ repo.name }}</strong> <a ng-href="{{ repo.html_url }}" target="_blank">( view here )</a>
        <p>{{ repo.description }}</p>
        <p>Stargazers Count: {{ repo.stargazers_count }} | Watchers Count: {{ repo.watchers_count }}</p>
        <div class="lang-label {{language.lang_name}}" ng-repeat="language in repo.languages">
          {{ language.lang_name }}<!--  {{ language.lang_amount }} -->
        </div >
        <!-- <p>Last updated: {{ repo.updated_at | date: 'yyyy-MM-dd' }}</p> -->
    </div>
  </div>
</div>


<div class="student-languages">

  <div class="chart">
    <div ng-repeat="(language, amount) in languages"style="width: {{ (amount / max * 500) }}px;">{{language}}</div>

  </div>

  <!-- <p>Max number:</p> {{ max }}
  <p>Languages:</p> {{ languages }}

  <div ng-repeat="(language, amount) in languages">
   {{ language }}: {{ amount }}
  </div> -->




</div>










