<header>
  <a ng-href="/"><img src="../img/ga_wt.png" class="tiny"></a><h1>GENERAL ASSEMBLY - WDI {{ student.city }}</h1>
  <div class="nav-buttons">
    <a ng-href="/#/students/{{student.id - 1}}" ><div class="nav-button">
      Previous
    </div></a>
    <a ng-href="/#/students/{{student.id + 1}}" ><div class="nav-button">
      Next
    </div></a>
  </div>
</header>

<div class="profile-box">

  <div class="avatar">
    <img ng-src="{{student.avatar_url}}" />
  </div>

  <h1>{{ student.firstname }} {{ student.lastname }}</h1>

  <hr>

  <div class="stats">
    <strong>City</strong>: {{ student.city }} <br>
    <strong>Github</strong>: <a ng-href="{{ student.url }}" target="_blank">{{ student.url }}</a> <br>
    <strong>Followers</strong>: {{ student.followers }} <br>
    <strong>Following</strong>: {{ student.following }} <br>
    <strong>Repos</strong>: {{ student.public_repos }} <br>
  </div>

  <hr>

  <h3>Recent commits:</h3>

  <div ng-repeat="event in student.events | orderEventBy:'date':true | limitTo:5">
    <div>
      <p class="message">{{ event.message }}</p>
      <p class="message-details">Pushed on {{ event.date | date: 'MMMM d, yyyy' }} to
      <a ng-href="http://www.github.com/{{ event.repo }}" target="_blank"> {{ event.repo }}</a></p>
    </div>
  </div>
</div>

<div class="popular-repos">
  <div ng-repeat="repo in student.repos | orderEventBy:'stargazers_count':true | limitTo:3">
    <div class="repo-box">
      <h2>{{ repo.name }}</h2>
      &nbsp;&nbsp; <i class="fa fa-star"> {{ repo.stargazers_count }} </i>
      <br>
      <a ng-href="{{ repo.html_url }}" target="_blank">code</a>
      <a ng-show="repo.homepage" ng-href="{{ repo.homepage }}" target="_blank"> | site</a>
      <p>{{ repo.description }}</p>
      <div class="v-align">
        <p>Last updated: {{ repo.updated | date: 'MMMM d, yyyy' }}</p>
        <div class="lang-label {{language.lang_name}}" ng-repeat="language in repo.languages">
        {{ language.lang_name }}
        </div >
      </div>
    </div>
  </div>
</div>

<div class="student-languages">
  <div class="bar-chart">
    <div ng-repeat="(language, amount) in languages" style="width: {{ (amount / max * 500) }}px;" class="{{language}}">{{language}}</div>
  </div>
</div>










