<header>
  <a ng-href="/"><img src="../img/ga_wt.png" class="tiny"></a><h1>GENERAL ASSEMBLY - WDI {{ student.city }}</h1>
  <div class="nav-buttons">
    <a ng-href="/#/students/{{student.id - 1}}" ><div class="nav-button">
      Previous
    </div></a>
    <a ng-href="/#/students/{{student.id + 1}}" ><div class="nav-button">
      Next
    </div></a>
  </div>
</header>

<div class="profile-box">

  <div class="avatar">
    <img ng-src="{{student.avatar_url}}" />
  </div>

  <div class="name">
    <h1>{{ student.firstname }} {{ student.lastname }}</h1>
    <a ng-href="{{ student.url }}" target="_blank"><h2>Github</h2></a>
    <a ng-show="student.blog" ng-href="{{ student.blog }}" target="_blank"><h2>&nbsp;&nbsp; | &nbsp;&nbsp;Personal Site</h2></a>
    <br><br>
  </div>

  <hr>

  <div class="stats">
    <div class="inline-stats">
      <strong>Followers</strong>
      <span class="stats-numbers">{{ student.followers }}</span>
    </div>

    <div class="inline-stats">
      <strong>Following</strong>
      <span class="stats-numbers">{{ student.following }}</span>
    </div>

    <div class="inline-stats clear">
      <strong>Repos</strong>
      <span class="stats-numbers">{{ student.public_repos }}</span>
    </div>
  </div>

  <hr>

  <h3>Recent commit activity</h3>

  <div ng-repeat="event in student.events | orderEventBy:'date':true | limitTo:5">
    <div>
      <p class="message">{{ event.message }}</p>
      <p class="message-details">Pushed on {{ event.date | date: 'MMMM d, yyyy' }} to
      <a ng-href="http://www.github.com/{{ event.repo }}" target="_blank"> {{ event.repo }}</a></p>
    </div>
  </div>
</div>

<div class="popular-repos">
  <div ng-repeat="repo in student.repos | orderEventBy:'stargazers_count':true | limitTo:3">
    <div class="repo-box">
      <h2>{{ repo.name }}</h2>
      &nbsp;&nbsp; <i class="fa fa-star"> {{ repo.stargazers_count }} </i>
      <br>

      <div class="lang-label {{language.lang_name}}" ng-repeat="language in repo.languages">
      {{ language.lang_name }}
      </div >
      <br>
      <p>{{ repo.description }}</p>
      <p>Last updated: {{ repo.updated | date: 'MMMM d, yyyy' }}</p>
      <a ng-href="{{ repo.html_url }}" target="_blank">view code</i></a>
      <a ng-show="repo.homepage" ng-href="{{ repo.homepage }}" target="_blank"> | view site</a>

    </div>
  </div>
</div>

<div class="student-languages">
  <div class="bar-chart">
    <div ng-repeat="(language, amount) in languages" style="width: {{ (amount / max * 500) }}px;" class="{{language}}">{{language}}</div>
  </div>
</div>










