<header>
  <a ng-href="/"><img src="../img/ga_wt.png" class="tiny"></a><h1>GENERAL ASSEMBLY - WDI {{ search.city }}</h1>
</header>

<div class="search-nav">
  <!-- <h2>Find student by name</h2> -->
  <input type="text" x-ng-model='search.firstname' placeholder="Type a name...">
  <button x-ng-click='search.city="Boston"' id="Boston">Boston</button>
  <button x-ng-click='search.city="New York City"' id="NYC">NYC</button>
  <button x-ng-click='search.city="Washington, DC"' id="DC">D.C.</button>
  <button x-ng-click="search=undefined" id="all">Display all</button>
</div>

<div class="wrap">

  <div class="box scale-fade" ng-repeat="student in students | filter: search">
    <div class="boxInner">
      <a href="#/students/{{student.id}}">
        <img ng-src="{{student.avatar_url}}" />
        <div class="titleBox">{{student.firstname}} {{student.lastname}}</div>
      </a>
    </div>
  </div>

</div>

