


<div class="profile-box">

  <div class="avatar">
    <img ng-src="{{student.avatar_url}}" />
  </div>

  <h1>{{ student.firstname }} {{ student.lastname }}</h1>

  <hr>

  <div class="stats">
    <strong>City</strong>: {{ student.city }} <br>
    <strong>Github</strong>: <a ng-href="{{ student.url }}" target="_blank">{{ student.url }}</a> <br>
    <strong>Followers</strong>: {{ student.followers }} <br>
    <strong>Following</strong>: {{ student.following }} <br>
  </div>

  <hr>

  <h3>Recent commits:</h3>

  <div ng-repeat="event in student.events | orderEventBy:'key':true | limitTo:5">
    <div>
      <p class="message">{{ event.message }}</p>
      <p class="message-details">Pushed on {{ event.date | date: 'yyyy-mm-dd' }} to {{ event.repo }}</p>
    </div>
  </div>

</b>
